body {
    background-color: #c5e7d2;
    color: #0C1231;
    font-size: 120%;
    text-align: center;
    margin: 0;
    padding: 0;
}


#startQuiz {
    background-color: green;
    color: gold;
    font-size: 130%;
    text-align: center;
    border: none;
    padding: 1rem;
}

.hidden {
    display: none;
}

img {
    width: auto;
    height: 15rem;
}

#quizSection {
    margin: 1rem;
    padding-top: 20%;
    font-size: 150%;
    font-weight: 500;
}

#quizSection button {
    padding: 3rem;
    font-size: larger;
    background-color: #c5e7d2;
    border: 2px solid;
    border-radius: 25px;   
}