/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Default styling*/
body {
    background-color: #c5e7d2;
    color: #0C1231;
    font-family: "Raleway", sans-serif;
    font-size: 120%;
    text-align: center;
    margin: 0.5;
    padding: 0;
}

/*Start Quiz button in introduction section*/
#startQuiz {
    background-color: green;
    color: gold;
    font-size: 130%;
    text-align: center;
    border: none;
    padding: 1rem;
}

.hidden {
    display: none;
}

img {
    width: auto;
    height: 15rem;
}
 /*Question styling*/
#quizSection img {
    width: 10rem;
    height: auto;
}

#quizSection {
    margin: 0.5rem 2rem;
    padding-top: 10%;
    font-size: 150%;
    font-weight: 500;
}

/*Answer button styling*/
#quizSection button {
    padding: 2rem;
    font-size: larger;
    background-color: #c5e7d2;
    border: 2px solid;
    border-radius: 25px;   
}

/*Score count section */
#scoreCount {
    font-size: 160%;
    font-weight: 600;
}


/*Play again section*/
#playAgain {
    font-size: 140%;
    font-weight: 500;

}

/*Play again button styling*/
#playAgain button {
    background-color: white;
    color: green;
    padding: 0.75rem;
    font-size: 100%;
    border: 1px solid green;
    border-radius: 25px;
}

/* Media queries on screens less than 700px */
@media screen and (max-width: 700px) {

/*Question styling*/
#quizSection {
    margin: 0.5rem;
    padding-top: 10%;
    font-size: 120%;
    font-weight: 400;
   
}

/*Answer button styling*/
#quizSection button {
    margin: 0.5rem;
    padding: 1rem 2rem;
    font-size: 130%;
    background-color: #c5e7d2;
    border: 2px solid;
    border-radius: 15px;  
    display: flexbox; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Play again button styling*/
#playAgain button {
    margin: 0.5rem;
    background-color: white;
    color: green;
    padding: 0.75rem;
    font-size: 100%;
    border: 1px solid green;
    border-radius: 25px;
   
}

}
